<div class="col-six tab-full right">
    <h3>İlgi Alanı ve Yetenekler</h3>

    <ul class="skill-bars">
        <li>
            <div class="progress percent90"><span>90%</span></div>
            <strong>C# & .NET CORE</strong>
        </li>
        <li>
            <div class="progress percent85"><span>85%</span></div>
            <strong>Entity Framework</strong>
        </li>
        <li>
            <div class="progress percent70"><span>70%</span></div>
            <strong>Html & CSS & BOOTSTRAP</strong>
        </li>
        <li>
            <div class="progress percent95"><span>95%</span></div>
            <strong>PHP</strong>
        </li>
        <li>
            <div class="progress percent75"><span>75%</span></div>
            <strong>MS SQL</strong>
        </li>
        <li>
            <div class="progress percent90"><span>60%</span></div>
            <strong>Python</strong>
        </li>
    </ul>
</div>