@model List<MyPortfolio.DAL.Entities.Skill>

<div class="col-six tab-full right">
    <h3>İlgi Alanı ve Yetenekler</h3>

    <ul class="skill-bars">
        @foreach (var item in Model)
        {
            int progressValue = int.Parse(item.Value); // String değeri int'e çevir
            <li>
                <div class="progress" style="width: @progressValue%"><span>@progressValue%</span></div>
                <strong>@item.Title</strong>
            </li>
        }
    </ul>
</div>
